.header {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  gap: 64px;
}
