.title_section {
  position: relative;
  padding: 205px 30px;
  width: 100%;
  background-image: url("../images/title_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_title {
  text-align: center;
  font-size: 48px;
  color: white;
  width: 468px;
  margin: auto;
  letter-spacing: 0.16px;
}
.main_word {
  display: block;
  position: relative;
  font-size: 128px;
  letter-spacing: 6px;
  line-height: 1;
}

.main_word::after {
  content: "Ukraine";
  position: absolute;
  bottom: 20;
  left: 0;
  color: white;
  opacity: 0.3;
  transform: scaleY(-1);
  text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}
.main_btn {
  width: 174px;
  padding: 16px 0;
  background-color: #394014;
  margin: auto;
  margin-top: 96px;
  letter-spacing: 0.16;
  font-size: 16px;
  line-height: 22px;
}
.main_list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.about_container {
  width: 1024px;
  height: 573px;
  margin: auto;
  background-image: url("../images/about.png");
  padding-top: 70px;
}
.about_wrapper {
  display: flex;
  gap: 32px;
  line-height: 1.4;
}
.about_wrapper p {
  width: 496px;
}
.swiper {
  width: 100%;
}
.swiper-wrapper {
  display: flex;
  gap: 32px;
}
.swipper-btn-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  z-index: 100;
}
